html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: radial-gradient(circle at 50% -3.03%, #00ffff 0, #00e6ff 25%, #0cc1ed 50%, #329ec4 75%, #3a7f9f 100%);;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: radial-gradient(circle at 50% -3.03%, #00ffff 0, #00e6ff 25%, #0cc1ed 50%, #329ec4 75%, #3a7f9f 100%);
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
